body{
  color: black;
  text-align: left;
  font-family: "Courier";
  font-size: 10px;
}
#container{
  width: 70%;
  padding: 1em;
  border: 1px solid silver;
  margin: 0 auto;
}

#container h1{
  font-size: 20px;
}
